# Python Bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Databases (Local test databases)
*.db
*.sqlite
*.sqlite3
